body {
  font-family: 'Poppins', sans-serif;
  background: #f4f6f9;
  margin: 0;
}

.sidebar {
  height: 100vh;
  width: 220px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #0d6efd;
  padding-top: 2rem;
  color: #fff;
}
.sidebar a {
  display: block;
  color: #fff;
  padding: 12px 20px;
  text-decoration: none;
  margin-bottom: 0.5rem;
  border-radius: 8px;
  transition: 0.2s;
}
.sidebar a:hover {
  background-color: #084298;
}
.sidebar h4 {
  text-align: center;
  margin-bottom: 2rem;
  color: #ffd369;
}
