.container {
  margin-left: 240px; 
  padding: 80px 20px 20px 20px;
}
.alert {
  background-color: #d1ecf1;
  color: #0c5460;
  border: 1px solid #bee5eb;
  padding: 10px 15px;
  margin-bottom: 20px;
  border-radius: 5px;
}
