*{
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin:0;
    background:#f4f6f9;
}

.sidebar{
    position:fixed;
    top:0;
    left:0;
    width:220px;
    height:100vh;
    background:#0d6efd;
    padding:20px;
    color:#fff;
}
.sidebar h3{
    text-align:center;
    margin-bottom:30px;
    color:#ffd369;
}
.sidebar a{
    display:block;
    padding:12px;
    color:#fff;
    text-decoration:none;
    border-radius:8px;
    margin-bottom:10px;
}
.sidebar a:hover{
    background:#084298;
}
